.signupbg{
    background-image: url(furni.jpg);
    margin: 0;
    padding: 0;
    /*background-color: #32BCA3;*/
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-position: center center;
    
  }
 .signup h1{
    font-size: 38px;
    color: #060a0c;
    
  }

  .signup .ui{
    position: relative;
    background-color: #32BCA3;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    opacity: 0.95;
    width: 50%;
    left: 25%;
    /*right: 90%;
    justify-content: center;*/
    align-items: center;
    background-position: center center;
  }

  .signup .ui label,h1{
    color: #333;
}
  
.signup input[type=text] {
    width: 100%;
    padding: 2px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 15px;
    /*background-color: rgb(255, 249, 249);*/
    /*color: rgb(10, 10, 10);*/
    color: #060a0c;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  .signup input[type=password] {
    width: 100%;
    padding: 2px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 15px;
    background-color: rgb(255, 249, 249);
    color: rgb(10, 10, 10);
    font-family: Arial, Helvetica, sans-serif;
  }

  .signup .contentBx{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    /*background-color: #32BCA3;*/
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    opacity: 0.9;
}
  
.signup input[type=submit] {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    /* cursor: pointer; */
    border-radius: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 272px;
  }
  
  .signup select {
    width: 100%;
    padding: 2px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 45px;
    background-color: rgb(255, 255, 255);
    color: rgb(10, 10, 10);
    font-family: Arial, Helvetica, sans-serif;
  }
  

  .signup .container{
    background-color:antiquewhite;
    border-style: hidden;
    border-radius: 15px;
    padding:18px;
    text-align: center;
    box-shadow: 0 8px 6px -6px black;
        
  }
  @media screen and (max-width:900px){
  
      .main-contianer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly; 
        
      }
    
    }