.a{
    font-size: 150px;
    color:wheat;
    font-weight: 600; 
}
.pic-bg{
    /* background: linear-gradient(to right,#3204fdba, #9907facc); */
   /* background: rgba(39,62,84,0.82); 
    overflow: hidden;
    z-index: 2; */
    /* box-shadow: inset 0 0 0 1000px rgba(39,62,84,.8); */
    background-image: rgba(39, 62, 84, 0.7);
}
.root1{
    /* background-color: #32BCA3; */
    background: linear-gradient(to bottom, #02353C 0%, #02353C 50%, #568980 50%, #568980 50%);
    color: antiquewhite;
    height: 600px;
}
.root2{
    background-color: #ffffff;
    color: antiquewhite;
    height: 20px;
}
.root5{
    height: 535px;
    width: 600px;
    background-color: #15705F;
    border-style: dashed;
    border-radius: 20px;
    border-width: medium;
    border-color: #ffffff;
}
.btn1{
    font-weight: 700;
    border: none;
    font-size: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #7876CA;
}
